.sidenav {

	width: 272px;
	min-width: 272px;
	max-width: 272px;

}

.sidenav-menu {

	list-style: none;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;

}

.sidenav-menu ul {

	display: table;

}

.sidenav-menu li {

	border-bottom: 1px solid rgba(0,0,0,0.12);
	height: 40px;

}

.sidenav-menu li .md-button {

	margin: 0;
	line-height: 40px;
	min-height: 40px;
	width: 100%;
	text-align: left;
	padding-left: 16px;

}

.sidenav-menu li:last-child {

	border-bottom: 0px;

}

.content {

	height: 100%;

}

.medicationList {

	list-style-type: none;

}

.medicationEditDialog md-dialog-content {

	padding: 20px;
	margin: 0px;

}

.medicationEditDialog md-input-container {

	margin: 0px;
	padding: 0px;

}

.medicationEditDialog .layout-gt-xs-row {

	width: 200px;
	margin: 0px;

}

.medicationEditDialog .md-button {

	margin: auto;

}

.medicationList .md-button {

	margin: 4px;
	padding: 0;

}

.medicationList .med-name {

	line-height: 20px;
	margin-top: 14px;

}

.addEntryForm md-input-container {

	margin: 0px;
	padding: 0px;

}

.addEntryForm .layout-gt-xs-row:nth-child(1) {

	margin-top: 20px;

}