<html lang="en">
<head>

	<title>VirtualPharmacy</title>
	{% include 'headIncludes.html' %}

</head>

<body ng-app="VirtualPharmacy" ng-cloak>
	<div ng-controller="AppController">
		<section layout="row" flex>
			{% include 'sidenav.html' %}

			<md-content class="content" flex="30">
				<h1 class="md-display-1">What is this website all about?</h1>
				<p><b>VirtualPharmacy</b> is a hobby project that aims to provide an application to list various medications, their uses and so on.</p>
				<p>It is primarily intended to serve as a project for me to practise my web development skills on using AngularJS, Angular Material and Flask.</p>
			</md-content>

			<md-content class="side" flex="35"></md-content>
		</section>
	</div>

	{% include 'bodyIncludes.html' %}
	
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

</body>
</html>