								{% if not session.logged_in %}
									<p>You need to be logged in to add an entry!</p>
								{% else %}
									<md-content class="md-padding">
								      <form ng-submit="addEntry()" class="addEntryForm">
								        <div layout-gt-xs="row">
								          <md-input-container>
								            <label>Name</label>
								            <input required ng-model="medication.name">
								          </md-input-container>
								        </div>

								        <div layout-gt-xs="row">
								          <md-input-container>
								            <label>Indications</label>
								            <input required ng-model="medication.indications">
								          </md-input-container>
								        </div>

								        <div layout-gt-xs="row">
								          <md-input-container>
								            <label>Side effects</label>
								            <input required ng-model="medication.sideEffects">
								          </md-input-container>
								        </div>

								        <div layout-gt-xs="row">
								          <md-button type="submit" class="md-raised md-primary" aria-label="Add entry">
								            Add
								          </md-button>
								        </div>
								      </form>
									</md-content>
								{% endif %}