<md-dialog ng-controller="MedicationEditController" class="medicationEditDialog" aria-label="Edit Medication" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edit Medication</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  {% if not session.logged_in %}
    <p>You need to be logged in to edit this entry!</p>
  {% else %}
    <form ng-submit="editMedication()" name="medicationEditForm">
      <div layout-gt-xs="row">
        <md-input-container>
          <label>Name</label>
          <input required ng-model="medication.name" ng-readonly="true">
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
        <md-input-container>
          <label>Indications</label>
          <input required ng-model="medication.indications">
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
        <md-input-container>
          <label>Side effects</label>
          <input required ng-model="medication.sideEffects">
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
        <md-button type="submit" class="md-raised md-primary" aria-label="Edit">
          Edit
        </md-button>
      </div>
    </form>
  {% endif %}
  </md-dialog-content>
</md-dialog>