<html lang="en">
<head>

	<title>VirtualPharmacy</title>
	{% include 'headIncludes.html' %}

</head>

<body ng-app="VirtualPharmacy" id="popupContainer" ng-cloak>
	<div ng-controller="AppController">
		<section layout="row" flex>
			{% include 'sidenav.html' %}

			<md-content class="content" flex="30">
				<h1 class="md-display-1">Welcome to VirtualPharmacy!</h1>
				<p>As a user, you can either access the full list of medications in our database below or actively participate by adding content!</p>
				<div ng-controller="MedicationController">
					<div ng-cloak>
					  	<md-content>
					    	<md-tabs md-dynamic-height md-border-bottom>
					      		<md-tab label="View entries">
					       	 		{% include 'viewEntries.html' %}
					          	</md-tab>
					          	<md-tab label="Add entry">
					          		{% include 'addEntry.html' %}
					          	</md-tab>
				          	</md-tabs>
				        </md-content>
			        </div>
					
				</div>
			</md-content>

			<md-content class="side" flex="35"></md-content>
		</section>
	</div>

	{% include 'bodyIncludes.html' %}

	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

</body>
</html>