<html lang="en">
<head>

	<title>VirtualPharmacy</title>
	{% include 'headIncludes.html' %}

</head>

<body ng-app="VirtualPharmacy" ng-cloak>
	<div ng-controller="AppController">
		<section layout="row" flex>
			{% include 'sidenav.html' %}

			<md-content class="content" flex="30">
				<h1 class="md-display-1">Please enter your credentials to log in.</h1>
				<form method="post" action="{{ url_for('login') }}" name="loginForm">
			      <div layout-gt-xs="row">
			        <md-input-container>
			          <label>Username</label>
			          <input name="username" required>
			          {% if invalidUsername %}
			          <div class="md-input-messages-animation ng-active" style="color: rgb(221,44,0);">Invalid username</div>
			          {% endif %}
			        </md-input-container>
			      </div>

			      <div layout-gt-xs="row">
			        <md-input-container>
			          <label>Password</label>
			          <input name="password" required type="password">
			          {% if invalidPassword %}
			          <div class="md-input-messages-animation ng-active" style="color: rgb(221,44,0);">Invalid password</div>
			          {% endif %}
			        </md-input-container>
			      </div>

			      <div layout-gt-xs="row">
			        <md-button type="submit" class="md-raised md-primary" aria-label="Edit">
			          Log in
			        </md-button>
			      </div>
			    </form>
			</md-content>

			<md-content class="side" flex="35"></md-content>
		</section>
	</div>

	{% include 'bodyIncludes.html' %}
	
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

</body>
</html>