			<md-sidenav class="md-sidenav-left md-whiteframe-1dp sidenav" md-component-id="left" flex>
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">VirtualPharmacy</h1>
				</md-toolbar>

				<md-content>
					<ul class="sidenav-menu">
						<li>
							<md-button ng-href="{{url_for('index')}}" href="{{url_for('index')}}" class="md-primary">Home</md-button>
						</li>
						<li>
							<md-button ng-href="{{url_for('about')}}" href="{{url_for('index')}}" class="md-primary">About</md-button>
						</li>
						<li>
							<md-button ng-href="{{url_for('contactus')}}" href="{{url_for('index')}}" class="md-primary">Contact us</md-button>
						</li>
						{% if not session.logged_in %}
						<li>
							<md-button ng-href="{{url_for('login')}}" href="{{url_for('index')}}" class="md-primary">Log in</md-button>
						</li>
						<li>
							<md-button ng-href="{{url_for('register')}}" href="{{url_for('index')}}" class="md-primary">Register</md-button>
						</li>
						{% else %}
						<li>
							<md-button ng-href="{{url_for('logout')}}" href="{{url_for('index')}}" class="md-primary">Log out</md-button>
						</li>
						{% endif %}
						<li>
							<md-button ng-click="toggleSidenav()" class="md-primary">Close navigation</md-button>
						</li>
					</ul>
				</md-content>
			</md-sidenav>
			<md-content class="side" flex="35">
				<md-button ng-click="toggleSidenav()" ng-hide="isOpenSidenav()" class="md-fab md-primary" aria-label="Open navigation">
					<i class="material-icons">reorder</i>
					<md-tooltip>
						Open navigation
					</md-tooltip>
				</md-button>
			</md-content>