<md-dialog ng-controller="MedicationEditController" class="medicationViewDialog" aria-label="View Medication" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>View Medication</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-list>
        <div layout="column">
          <md-list-item layout="row">
            <div flex="50">Name:</div><div flex="50">{% raw %} {{ medication.name }} {% endraw %}</div>
          </md-list-item>
          <md-list-item layout="row">
            <div flex="50">Indications:</div><div flex="50">{% raw %} {{ medication.indications }} {% endraw %}</div>
          </md-list-item>
          <md-list-item layout="row">
            <div flex="50">Side-effects:</div><div flex="50">{% raw %} {{ medication.sideEffects }} {% endraw %}</div>
          </md-list-item>
        </div>
      </md-list>
    </md-dialog-content>
  </form>
</md-dialog>