									<md-content class="md-padding">
					          			<ul class="medicationList">
											<li ng-repeat="medication in medications" layout="row">
												<md-button class="md-icon-button" aria-label="Learn more" ng-click="showView(medication)">
													<i class="material-icons">info_outline</i>
													<md-tooltip>
														Learn more
													</md-tooltip>
												</md-button>
												<md-button class="md-icon-button" aria-label="Edit" ng-click="showEdit(medication)">
													<i class="material-icons">mode_edit</i>
													<md-tooltip>
														Edit
													</md-tooltip>
												</md-button>
												<md-button class="md-icon-button" aria-label="Request deletion">
													<i class="material-icons">delete</i>
													<md-tooltip>
														Request deletion
													</md-tooltip>
												</md-button>
												<div class="med-name">{% raw %}{{ medication.name }}{% endraw %}</div>
											</li>
										</ul>
					          		</md-content>